body {
  font-family: "Georgia", sans-serif;
  background-color: #f2e6da;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  background-color: #ffffff;
  width: 700px;
  border-radius: 12px;
  overflow: hidden;
  margin: 40px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
  width: 88%;
  height: 20%;
  display: block;
  margin-right: 50px;
  margin-top: 45px;
  margin-left: 40px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.content {
  padding: 30px;
}

h1 {
  font-size: 28px;
  color: #3a2d2d;
  margin-bottom: 10px;
}

p {
  color: #555;
  line-height: 1.6;
}

.prep-time {
  background-color: #f8eef9;
  border-radius: 8px;
  padding: 15px 20px;
  margin: 25px 0;
}

.prep-time strong {
  color: #7b3e7e;
}

.list-time strong {
  color: #110e11;
}

h2 {
  color: #5c4033;
  margin-top: 30px;
  padding-bottom: 5px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

ol {
  padding-left: 20px;
}

li {
  margin: 8px 0;
  color: #444;
}

ol li strong {
  color: #5c4033;
}

.nutrition-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.nutrition-table th,
.nutrition-table td {
  text-align: left;
  padding: 8px 0;
}

.nutrition-table .calories {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

/* Carbs row - faint text + faint underline */
.nutrition-table .carbs {
  color: #777;
  border-bottom: 1px solid #f7f7f7;
}

/* Protein row - bold text + bold underline */
.nutrition-table .protein {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

/* Other rows - no underline */
.nutrition-table .fat {
  border-bottom: none;
}

.nutrition-table th {
  color: #474545;
  font-weight: normal;
}

.nutrition-table td {
  color: #5c4033;
  font-weight: bold;
}
